# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Node
node_modules/
dist/
.DS_Store

# Logs
*.log
backend.log
npm-debug.log*

# Database
*.db
*.db-shm
*.db-wal
# Excluir la base de datos de producción por seguridad, pero permitir si el usuario quiere backup
# backend/network_monitor.db

# VS Code
.vscode/

# Project Specific
innecesario/
programa/
